@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@300;400;600&display=swap');
body{
    margin: 0px;
    background-color: black;
}

.navbar{
    background-color: rgb(1, 41, 54);
    padding: 18px;
    position: fixed;
    width: 100%;
    margin-top: 0px;
    z-index: 2;
}

img{
    margin-top: 30px;
    width: 100%;
    position:initial;
}
.navbar a{
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-left: 45px;
    font-family: 'Montserrat', sans-serif;
    
}
.bg{
   
    text-align: center;
    
}
 h2{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 130px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
 }
 .mobiles{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 220px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
 }
 .laptops{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 260px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
 }
 .tv{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 300px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
 }
 .ht{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 340px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
 }
 .dvd{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 380px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
 }
 .access{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 420px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
 }

 .fas{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 490px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
 }
 .men{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 610px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
 }
 .women{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 650px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
 }
 .kids{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 690px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
 }
 .prime{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 760px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
 }
 .pv{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 810px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
 }